.index1 {
    font-family: 'Syne Mono', monospace;
}

h1 {
    font-family: 'Tektur', cursive;
    color: rgb(76, 76, 159);
}

.books1 {
    background-color: gray;
}

.Contents{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    gap: 20px;
    flex-wrap: wrap;
}
