.index1 {
    background-color: powderblue;
    font-family: 'Syne Mono', monospace;
}

h1 {
    font-family: 'Tektur', cursive;
    color: rgb(76, 76, 159);
}

.books1 {
    background-color: gray;
}